<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TActionEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="springboot.mybatis.po.TActionEvent">
        <id column="id" property="id" />
        <result column="eval_event_id" property="evalEventId" />
        <result column="action_id" property="actionId" />
        <result column="action_name" property="actionName" />
        <result column="action_cnt" property="actionCnt" />
        <result column="action_grade" property="actionGrade" />
        <result column="action_score" property="actionScore" />
        <result column="action_status" property="actionStatus" />
        <result column="calories" property="calories" />
        <result column="type" property="type" />
        <result column="position" property="position" />
        <result column="duration" property="duration" />
        <result column="img" property="img" />
        <result column="advice" property="advice" />
        <result column="unit" property="unit" />
        <result column="max_score" property="maxScore" />
        <result column="start_time" property="startTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eval_event_id, action_id, action_name, action_cnt, action_grade, action_score, action_status, calories, type, position, duration, img, advice, unit, max_score, start_time, create_time, update_time
    </sql>
    <insert id="insertActionEvent" parameterType="springboot.mybatis.po.TActionEvent">
        insert into t_action_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="evalEventId != null">
                eval_event_id,
            </if>
            <if test="actionName != null">
                action_name,
            </if>
            <if test="actionId != null">
                action_id,
            </if>
            <if test="actionCnt != null">
                action_cnt,
            </if>
            <if test="actionGrade != null">
                action_grade,
            </if>
            <if test="actionScore != null">
                action_score,
            </if>
            <if test="actionStatus != null">
                action_status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="maxScore != null">
                max_score,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="evalEventId != null">
                #{evalEventId},
            </if>
            <if test="actionName != null">
                #{actionName},
            </if>
            <if test="actionId != null">
                #{actionId},
            </if>
            <if test="actionCnt != null">
                #{actionCnt},
            </if>
            <if test="actionGrade != null">
                #{actionGrade},
            </if>
            <if test="actionScore != null">
                #{actionScore},
            </if>
            <if test="actionStatus != null">
                #{actionStatus},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="position != null">
                #{position},
            </if>
            <if test="duration != null">
                #{duration},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="unit != null">
                #{unit},
            </if>
            <if test="maxScore != null">
                #{maxScore},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>


    <update id="updateByID">
        update t_action_event
        <set>
            <if test="actionCnt != null">
                action_cnt = #{actionCnt},
            </if>
            <if test="actionScore != null">
                action_score = #{actionScore},
            </if>
            <if test="actionGrade != null">
                action_grade = #{actionGrade},
            </if>
            <if test="actionStatus != null">
                action_status = #{actionStatus},
            </if>
            <if test="calories != null">
                calories = #{calories},
            </if>
            <if test="advice != null">
                advice = #{advice},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
        </set>
        where eval_event_id= #{evalEventId} AND action_id = #{actionId}

    </update>

    <select id="getSuccessCnt" resultType="java.lang.Integer">
        select sum(action_status) from t_action_event where eval_event_id= #{evalEventId}
    </select>

    <select id="selectListByEvalID" resultMap="BaseResultMap">
        select *
        from t_action_event
        where eval_event_id = #{evalEventID}
    </select>

    <select id="selectNext" resultMap="BaseResultMap">
        select *
        from t_action_event
        where eval_event_id = #{evalEventID} AND action_status = 0 limit 1
    </select>

    <select id="selectCurrent" resultMap="BaseResultMap">
        select *
        from t_action_event
        where eval_event_id = #{evalEventID} AND action_status = 1 AND action_id != 8 AND action_id != 7 order by start_time desc limit 1
    </select>

</mapper>
