<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TStudentPftestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="springboot.mybatis.po.TStudentPftest">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="cardior_level" property="cardiorLevel" />
        <result column="cardior_score" property="cardiorScore" />
        <result column="corestrength_level" property="corestrengthLevel" />
        <result column="corestrength_score" property="corestrengthScore" />
        <result column="coordinate_level" property="coordinateLevel" />
        <result column="coordinate_score" property="coordinateScore" />
        <result column="lowerMF_level" property="lowermfLevel" />
        <result column="lowerMF_score" property="lowermfScore" />
        <result column="upMF_level" property="upmfLevel" />
        <result column="upMF_score" property="upmfScore" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="ResultMap1" type="springboot.mybatis.po.TStudentPftestCustom">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="cardior_level" property="cardiorLevel" />
        <result column="cardior_score" property="cardiorScore" />
        <result column="corestrength_level" property="corestrengthLevel" />
        <result column="corestrength_score" property="corestrengthScore" />
        <result column="coordinate_level" property="coordinateLevel" />
        <result column="coordinate_score" property="coordinateScore" />
        <result column="lowerMF_level" property="lowermfLevel" />
        <result column="lowerMF_score" property="lowermfScore" />
        <result column="upMF_level" property="upmfLevel" />
        <result column="upMF_score" property="upmfScore" />
        <result column="update_time" property="updateTime" />

        <association property="tStudent" javaType="springboot.mybatis.po.TStudent">
            <id column="sid" property="id" />
            <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
            <result column="student_name" jdbcType="VARCHAR" property="studentName" />
            <result column="age" jdbcType="INTEGER" property="age" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
            <result column="stature" jdbcType="DOUBLE" property="stature" />
            <result column="weight" jdbcType="DOUBLE" property="weight" />
            <result column="bmi" jdbcType="VARCHAR" property="bmi" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="medical" jdbcType="VARCHAR" property="medical" />
            <result column="phone_no" jdbcType="INTEGER" property="phoneNo" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, cardior_level, cardior_score, corestrength_level, corestrength_score, coordinate_level, coordinate_score, lowerMF_level, lowerMF_score, upMF_level, upMF_score, update_time
    </sql>

    <update id="addTestItem" parameterType="springboot.mybatis.po.TStudentPftest">
        update t_student_pftest
        <set>
            <if test="cardiorLevel != null">
                cardior_level = #{cardiorLevel},
            </if>
            <if test="cardiorScore != null">
                cardior_score = #{cardiorScore},
            </if>
            <if test="corestrengthLevel != null">
                corestrength_level = #{corestrengthLevel},
            </if>
            <if test="corestrengthScore != null">
                corestrength_score = #{corestrengthScore},
            </if>
            <if test="coordinateLevel != null">
                coordinate_level = #{coordinateLevel},
            </if>
            <if test="coordinateScore != null">
                coordinate_score = #{coordinateScore},
            </if>
            <if test="lowermfLevel != null">
                lowerMF_level = #{lowermfLevel},
            </if>
            <if test="lowermfScore != null">
                lowerMF_score = #{lowermfScore},
            </if>
            <if test="upmfLevel != null">
                upMF_level = #{upmfLevel},
            </if>
            <if test="upmfScore != null">
                upMF_score = #{upmfScore}
            </if>
        </set>
        where student_id = #{studentId}
    </update>

    <delete id="deleteStudentPftest">
        delete from t_student_pftest
        where id = #{id}
    </delete>

    <insert id="insertTestRecord" parameterType="springboot.mybatis.po.TStudentPftest">
        insert into t_student_pftest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                student_id,
            </if>
            <if test="cardiorLevel != null">
                cardior_level,
            </if>
            <if test="cardiorScore != null">
                cardior_score,
            </if>
            <if test="corestrengthLevel != null">
                corestrength_level,
            </if>
            <if test="corestrengthScore != null">
                corestrength_score,
            </if>
            <if test="coordinateLevel != null">
                coordinate_level,
            </if>
            <if test="coordinateScore != null">
                coordinate_score,
            </if>
            <if test="lowermfLevel != null">
                lowerMF_level,
            </if>
            <if test="lowermfScore != null">
                lowerMF_score,
            </if>
            <if test="upmfLevel != null">
                upMF_level,
            </if>
            <if test="upmfScore != null">
                upMF_score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                #{studentId},
            </if>
            <if test="cardiorLevel != null">
                #{cardiorLevel},
            </if>
            <if test="cardiorScore != null">
                #{cardiorScore},
            </if>
            <if test="corestrengthLevel != null">
                #{corestrengthLevel},
            </if>
            <if test="corestrengthScore != null">
                #{corestrengthScore},
            </if>
            <if test="coordinateLevel != null">
                #{coordinateLevel},
            </if>
            <if test="coordinateScore != null">
                #{coordinateScore},
            </if>
            <if test="lowermfLevel != null">
                #{lowermfLevel},
            </if>
            <if test="lowermfScore != null">
                #{lowermfScore},
            </if>
            <if test="upmfLevel != null">
                #{upmfLevel},
            </if>
            <if test="upmfScore != null">
                #{upmfScore},
            </if>
        </trim>
    </insert>

    <select id="findByStudentId" resultType="springboot.mybatis.po.TStudentPftest">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_student_pftest
        WHERE student_id=#{studentId}
    </select>

    <select id="getStudentPftestLatest" resultMap="ResultMap1">
        select *
        from
            t_student s, t_student_pftest w,

            (select student_id, max(update_time) as update_time from t_student_pftest group by student_id) t

        where s.id = t.student_id

          AND w.student_id = t.student_id

          AND w.update_time = t.update_time
    </select>

    <select id="getStudentPftestById" resultMap="ResultMap1">
        select w.*, s.id as sid, s.student_no, s.student_name, s.age, s.sex, s.stature, s.weight, s.bmi,
               s.create_time, s.medical, s.phone_no
        from
            t_student s, t_student_pftest w

        where s.id = w.student_id

        AND s.id = #{id}
    </select>
</mapper>
