<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TTestCardiorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="springboot.mybatis.po.TTestCardior">
        <id column="id" property="id" />
        <result column="test_id" property="testId" />
        <result column="test_name" property="testName" />
        <result column="level" property="level" />
        <result column="test_result1" property="testResult1" />
        <result column="test_result2" property="testResult2" />
        <result column="score" property="score" />
        <result column="remark" property="remark" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, test_id, test_name, level, test_result1, test_result2, score, remark, update_time, create_time
    </sql>

    <update id="updateTestCardior">
        update t_test_cardior
        <set>
            <if test="testId != null">
                test_id = #{testId},
            </if>
            <if test="testName != null">
                test_name = #{testName},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="testResult1 != null">
                test_result1 = #{testResult1},
            </if>
            <if test="testResult2 != null">
                test_result2 = #{testResult2},
            </if>
            <if test="score != null">
                score = #{testResult1},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getAdviceAndScore" parameterType="java.lang.Long" resultType="springboot.mybatis.po.TTestCardior">
        SELECT
            level, score, remark
        FROM
            t_test_cardior
        WHERE
            test_result1 &lt;= #{count}  AND test_result2 &gt;= #{count}
    </select>

    <select id="testList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_test_cardior
    </select>

</mapper>
