<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TWqxplanStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="springboot.mybatis.po.TWqxplanStudent">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="NP_id" property="npId" />
        <result column="train_period" property="trainPeriod" />
        <result column="train_frequency" property="trainFrequency" />
        <result column="is_enable" property="isEnable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="ResultMap1" type="springboot.mybatis.po.TWqxplanStudentCustom">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="NP_id" property="npId" />
        <result column="train_period" property="trainPeriod" />
        <result column="train_frequency" property="trainFrequency" />
        <result column="is_enable" property="isEnable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />

        <association property="tWqxplanNp" javaType="springboot.mybatis.po.TWqxplanNp">
            <result column="prescription_name" property="prescriptionName" />
            <result column="remark" property="remark" />
            <result column="create_time" property="createTime" />
            <result column="update_time" property="updateTime" />
            <result column="is_enable" property="isEnable" />
        </association>
        <association property="tStudent" javaType="springboot.mybatis.po.TStudent">
            <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
            <result column="student_name" jdbcType="VARCHAR" property="studentName" />
            <result column="age" jdbcType="INTEGER" property="age" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
            <result column="stature" jdbcType="DOUBLE" property="stature" />
            <result column="weight" jdbcType="DOUBLE" property="weight" />
            <result column="bmi" jdbcType="VARCHAR" property="bmi" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="medical" jdbcType="VARCHAR" property="medical" />
            <result column="phone_no" jdbcType="INTEGER" property="phoneNo" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, NP_id, train_period, train_frequency, is_enable, create_time, update_time
    </sql>

    <insert id="addStudentWQXplan" parameterType="springboot.mybatis.po.TWqxplanStudent">
        insert into t_wqxplan_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="npId != null">
                NP_id,
            </if>
            <if test="trainPeriod != null">
                train_period,
            </if>
            <if test="trainFrequency != null">
                train_frequency,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=VARCHAR},
            </if>
            <if test="npId != null">
                #{npId},
            </if>
            <if test="trainPeriod != null">
                #{trainPeriod},
            </if>
            <if test="trainFrequency != null">
                #{trainFrequency},
            </if>
            <if test="isEnable != null">
                #{isEnable},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!--根据studentId查询学生所有训练处方-->
    <select id="getStudentWQXPlan" parameterType="java.lang.Long" resultMap="ResultMap1">
        SELECT
            w.prescription_name, s.create_time, w.remark, s.NP_id, s.student_id
        FROM
            t_wqxplan_student s,t_wqxplan_np w
        WHERE
            s.student_id = #{studentId} AND s.NP_id=w.id
    </select>

    <select id="getWQXPlanLatest" resultMap="ResultMap1">

        select w.student_id, s.student_name, s.student_no, s.sex, s.age, n.prescription_name, n.remark, w.train_period, w.train_frequency, w.is_enable, w.create_time
        from
            t_student s, t_wqxplan_student w, t_wqxplan_np n,

            (select student_id, max(create_time) as create_time from t_wqxplan_student group by student_id) t

        where s.id = t.student_id

          AND w.student_id = t.student_id

          AND w.create_time = t.create_time

          AND n.id = w.NP_id
    </select>

</mapper>
