<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TWqxplanNpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="springboot.mybatis.po.TWqxplanNp">
        <id column="id" property="id" />
        <result column="prescription_name" property="prescriptionName" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_enable" property="isEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prescription_name, remark, create_time, update_time, is_enable
    </sql>

    <select id="listWqxTrainNp" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_wqxplan_np
    </select>

    <delete id="deleteWQXplan" parameterType="java.lang.Long">
        delete from t_wqxplan_np
        where id = #{id}
    </delete>

    <!--新增无器械处方-->
    <insert id="insertWQXplan" parameterType="springboot.mybatis.po.TWqxplanNp">
        insert into t_wqxplan_np
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prescriptionName != null">
                prescription_name,
            </if>

            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prescriptionName != null">
                #{prescriptionName},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="isEnable != null">
                #{isEnable},
            </if>
        </trim>
    </insert>

    <!--修改处方-->
    <update id="updatePlanByPK" parameterType="springboot.mybatis.po.TWqxplanNp">
        update t_wqxplan_np
        set prescription_name = #{prescriptionName,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            is_enable = #{isEnable}
        where id = #{id}
    </update>
</mapper>
